body {
  font-family: 'Helvetica', sans-serif;
  background: #fafafa;
}

.botui-app-container {
  width: 100% !important;
  max-width: 900px;
  height: 100% !important;
}

.botui-message {
  margin-top: 10px !important;
}

.botui-container {
  background: none !important;
}

.botui-message-content {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: black !important;
  background: #fff !important;
  border-radius: 4px !important;
  transition: all 0.85s cubic-bezier(0.68, 0.01, 0.245, 1.13) 0.35s, color 0.3s ease-in-out 0.25s, min-width 0.35s ease-in-out, min-height 0.35s ease-in-out;
  line-height: 1.45em;
  padding: 12px 14px !important;
  border: none;
  font-size: 16px;
  margin-left: 3.5em;
}

.botui-message-content.text {
  line-height: 1.8em !important;
  font-family: 'Roboto Slab', serif;
}

.botui-message-content.loading {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.botui-actions-container {
  position: absolute !important;
  bottom: 0px !important;
  width: 100%;
  left: 0;
  text-align: center;
}

.author {
  border-radius: 25px;
  margin-bottom: -19px;
  margin-right: -50px;
  transition: all ease-in-out 0.2s;
  transform: scale(0.5);
  opacity: 0;
}

.showAuthor {
  transform: scale(0.8);
  opacity: 1;
}

.authorName {
  position: relative;
  top: -2px;
  display: block;
  left: 65px;
  font-family: 'Roboto Slab';
  color: #ccc;
  padding-top: 15px;
}

.botui-message-content.human {
  background: #7957d5 !important;
  color: #FFF !important;
  margin-bottom: 25px;
  line-height: 1.3 !important;
}

button.botui-actions-buttons-button {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  font-family: 'Roboto Slab', serif;
}

.botui-actions-buttons-button+.botui-actions-buttons-button {
  margin-left: 0px !important;
}

.botui-actions-buttons-button {
  color: #FFF !important;
  padding: 12px 14px !important;
  background: #7957d5 !important;
  font-size: 16px !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.botui-actions-text-input {
  color: #FFF !important;
  padding: 12px 14px !important;
  background: #7957d5 !important;
  font-size: 16px !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
}

.botui-actions-text-input::placeholder {
  color: rgba(0,0,0,0.3);
  text-align: center;
}

.dot {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.dot:nth-last-child(1) {
  margin-left: .3rem;
  animation: loader .6s .3s linear infinite !important;
}

.dot:nth-last-child(2) {
  margin-left: .3rem;
  animation: loader .6s .2s linear infinite !important;
}

.dot:nth-last-child(3) {
  animation: loader .6s .1s linear infinite !important;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .3s;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

  {
  transform: translateX(30px);
  opacity: 0;
}

@keyframes loader {
  0 {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -3px)
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, 3px)
  }
  100% {
    transform: translate(0, 0)
  }
}
